.sideNav {
    height: 100%;
    z-index: 1;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 25px;
    color: #818181;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
